{{ define "title" }}
<div class="container">
  <div class="content-center title-container">
    <h1 class="title">{{ .Title }}</h1>
  </div>
</div>
{{ end }}

{{ define "body" }}
<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
	<section>
		<div class="container">
			<div class="row">
				<div class="text-center">
					<!-- <h2 class="section-heading">{{ .Title }}</h2>
					<hr class="star-primary" /> -->

					<div class="features-post">
						<p>{{ .Content | replaceRE ";baseurl;" .Site.BaseURL | markdownify }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
  </div>   
</div>
{{ end }}
