$green:#44883c;
$svg-icon-size: 62px;


  @font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/Comfortaa-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/Comfortaa-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Bold.ttf') format('truetype'),
         url('/fonts/Comfortaa-Bold.woff') format('woff'),
         url('/fonts/Comfortaa-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Light.ttf') format('truetype'),
         url('/fonts/Comfortaa-Light.woff') format('woff'),
         url('/fonts/Comfortaa-Light.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-LightItalic.woff2') format('woff2'),
         url('/fonts/OpenSans-LightItalic.woff') format('woff'), 
         url('/fonts/OpenSans-LightItalic.ttf')  format('truetype');
    font-weight: lighter;
    font-style: italic; 
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Light.woff2') format('woff2'),
         url('/fonts/OpenSans-Light.woff') format('woff'), 
         url('/fonts/OpenSans-Light.ttf')  format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff2') format('woff2'),
         url('/fonts/OpenSans-Regular.woff') format('woff'), 
         url('/fonts/OpenSans-Regular.ttf')  format('truetype');
    font-style: normal; 
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.01em;
    
    p {
        font-size: 16px;
        color: #5a5a5a;
    }
}

h1, h2, h3, h4, h5, a, .navbar, .team-player .category, .blockquote, .btn {
    font-family: 'Comfortaa', cursive;
}

.icon {
    width: $svg-icon-size !important;
    height: $svg-icon-size !important;
}

h2, h3, h4, h5 {
    font-size: 1.5em;
}

h1:not(.title), h2, h3, h4, h5 {
    font-weight: lighter !important;
}

a {
    color: $green;
    font-weight: bold;
    &:hover,
    &:active,
    &:focus {
        color: $green;
    }
}

.section {
    padding: 0px;

    p {
        text-align: justify;
    }
}

p, .call-to-action {
    margin-bottom: 40px;
}

.separator.separator-primary {
    background-color: $green;
}

.team-player p {
    margin-bottom: 16px;
}

.donation-manually-field {
    color: #484c47 !important;
    font-size: 14px !important;
}

.btn-success {
    background-color: $green;
    &:hover,
    &:active,
    &:focus {
        background-color: $green;
    }
}

#acc-details {
    padding-right: 0px !important;
}

.modal-open {
    padding-right: 0px !important;
    overflow: visible;
}

@media screen and (max-width: 768px) {
    .landing-page .section-story-overview .image-container {
        margin-bottom: 30px;
    }
    .landing-page .section-team .team-player {
        margin-bottom: 60px;
    }
    .section {
        padding: 0;
    }
    .section-story-overview .image-container:nth-child(2) {
        margin-top: 270px;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-collapse .navbar-collapse:before {
        background: $green;
        opacity: 100;
    }
    .dropdown-menu .dropdown-item {
        color: #FFFFFF;
        font-weight: bold;
    }
    .donate-page .flex-item {
        margin-bottom: 100px;
    }

    .landing-page .container {
        width: 100%;
        max-width: 100%;
    }
    .navbar-translate .page-nav {
        position: absolute;
        left: 78px;
    }
}


/* end Mobile changes */

.navbar {
    font-weight: bold;
    background-color: $green !important;
    
    .nav-item:not(.dropdown) {
        letter-spacing: 1px;
    }

    .nav-link:not(.dropdown) {
        font-size: 0.8571em !important;
    }
}

.navbar-brand {
    margin-right: 3px !important;
}

.page-nav {
    color: #FFFFFF !important;
    cursor: default;
    text-transform: uppercase;
    font-size: 0.8571em;
    display: inline-block;
    line-height: 1.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.page-header .text-center a {
    margin-right: 10px;
}

.social-icons-team .btn {
    background-color: $green;
    &:hover,
    &:active,
    &:focus {
        background-color: #FFFFFF;
        border: #ffffff;
        color: $green !important;
    }
}

.social-icons-top {
     
    text-align: right;
    margin-bottom: 40px;
    margin-top: -26px;

    .btn {
        background-color: #FFFFFF;
        color: $green;
        margin-left: 5px;
        position: relative;
        z-index: 99; 
        height: 3.375rem;
        min-width: 3.375rem;
        width: 3.375rem;
        font-size: 1rem;      

        &:hover,
        &:active,
        &:focus {
            background-color: $green;
            border: $green;
            color: #FFFFFF !important;
        }
    }
}

.landing-page {

    .description a,
    .team-player .category {
        color: $green;
        font-weight: bold;
    }

    .team-player {

        .title {
            font-weight: 500;
        }
        .description {
          text-align: justify;
          font-style: italic;
        }
        .category {
            text-align: center;
            font-size: 14px;
        }
    }

    h3 {
        margin-bottom: 0px;
    }

    h1.title::first-letter {
        color: $green;
    }
    
    .blockquote {

        width: auto !important;
        color: #6b6a6a !important;
        font-size: 1.2rem;
        border: none;
        border-right: 4px $green solid;
        text-align: justify !important;

        small {
            float: right;
            color: #6b6a6a !important;
        }
    }

    h5, .section-story-overview {
        text-align: justify;
        h3 {
            text-align: left;
        }
    }

    h5.description {
        font-size: 1.2rem;
        color: #6b6a6a;
        margin-top: 16px;
    }

    h2.title {
        text-align: center;
    }

    .section-team h2 {
        font-size: 1.8em;
    }
} 

.donate-page {
    
    .features-post h3 {
        margin-bottom: 0px;
        text-align: left;
    }
    .flex-item img {
        width: 200px !important;
    }
    .flex-item:nth-child(2) h3 {
        margin-top: 4px !important;
        margin-bottom: 30px;
    }
    .flex-grid {
        padding-left: 0px;
    }
    p:nth-child(7) {
        text-align: center;
    }
}

.download-page {
    
    table {
        margin: 0 auto;
        position: relative;
        border-collapse: separate;
        border-spacing: 0px 8px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    table a {
        color: $green;
        font-weight: bold;
    }
    
    .editions-tag-checkbutton label {
        width: 170px;
        min-width: 170px;
    }
}

.support-page {
    h3 {
        margin-bottom: 10px;
        margin-top: 60px;
    }
    ul {
        padding-left: 86px;
    }
    img {
        margin-right: 5px;
        margin-top: -5px;
    }
}

.page {
    img[src="/img/features/overview.png"] {
      padding-bottom: 60px;
      padding-top: 20px;
    }

    td {
      /*padding: 14px;*/
      padding-right: 5px;
    }
    h2 {
        text-align: center;
    }
    section {
        margin-bottom: 80px;
    }
    .header-link {
        width: 100%;
        margin-bottom: 20px;
    }       
}

.useful-for-everyone {
    table {
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.first-steps, .user-guide {
    
    .row {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.what-is-manjaro {
    .row {
        padding-top: 40px;
    }
    p:nth-child(2) {
        text-align:center;
    }
}

.user-guide {
    p:nth-child(1) {
        text-align: center;
    }
}

.configured-with-one-click,
.under-your-control,
 {
    .features-post {
        padding-top: 40px;
    }
}

#how-much-does-it-cost {
    margin-top: 40px;
}

.flex-item div {
    border: none !important;
}

.editions-tag-checkbutton input[type="checkbox"]:checked+label,
.editions-box-caption-extended-subtitle,
.editions-box-caption-small,
.editions-box-caption-extended {
    background: $green !important;
}

.editions-box {
    .editions-box-caption-small,
    .editions-box-caption-extended-subtitle {
        margin: 0px;
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
    .editions-box-caption-extended .editions-box-caption-extended-content .targetgroup {
        font-size: 14px !important;
    }
}

@media (min-width: 768px) {
    .team-player .description {
        /* this needs to be ajusted if you add more content */
        min-height: 125px;
    }
    .landing-page .section-team,
    .section-story-overview {
        padding: 0px;
    }
    .section-story-overview p.blockquote {
        top: 470px;
    }
    .landing-page .blockquote {
        right: 100px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    
    .section-story-overview .image-container:nth-child(2) {
        margin-top: 446px;
    }
}

@media screen and (min-width: 992px) {
    .donate-page .flex-grid {
        display: flex;
    }
    .dropdown-menu .now-ui-icons {
        color: $green !important;
        position: relative;
        margin-right: 5px;
        font-size: 0.8571em;
        font-weight: bold;
    }
}

.section-story-overview .image-container:nth-child(2) {
    margin-left: 0px;
}