<!doctype html>
<html lang="en">
  {{partial "head" . }}
  
	<body class="{{ .Params.class | default "page" }} sidebar-collapse {{ replace .Title " " "-" | lower}}">
    {{ partial "nav" . }}
    
    <div class="{{ .Params.wrapper | default "wrapper" }}">
      
        <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}" filter-color="{{ .Param "tint" | default "orange" }}">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background")  | default "img/header.jpg" | absURL }}');">
            </div>
            
            {{ block "title" . }}
            {{ end }}
            
        </div>
        <div class="{{ .Params.section | default "section"}}">
            <div class="container">
              
            {{ block "body" . }}
	          {{ end }}

            </div>
        </div>
      {{ partial "footer" . }}
    </div>
  </body>
{{partial "javascript" . }}
</html>
