<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "img/apple-icon.png" | relURL }}">
    <link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Manjaro - {{ if .IsHome }}enjoy the simplicity{{ else }}{{.Title}}{{ end }}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{{ "css/bootstrap.min.css" | relURL }}" rel="stylesheet" />
    <link href="{{ "css/now-ui-kit.css?v=1.1.0" | relURL }}" rel="stylesheet" />
    {{ $styles := resources.Get "/sass/style.scss" | toCSS "/css/style.css"| minify}}
    <link href="{{ $styles.Permalink }}" rel="stylesheet" />
    <!--  Essential META Tags -->

    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    <meta name="keywords" content="linux, manjaro, open source, free operating system, linux distribution, manjaro linux">

    <meta property="og:title" content="Manjaro - {{ .Title }}">
    <meta property="og:description" content="Manjaro Linux is a linux distribution which is based on arch linux.">
    <meta property="og:image" content="todo - http://example.com/thumbnail.jpg">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta name="twitter:card" content="todo - summary_large_image">
    <!--  Non-Essential, But Recommended -->

    <meta property="og:site_name" content="Manjaro Linux.">
    <meta name="twitter:image:alt" content="todo - Alt text for image">
    <!--  todo - Non-Essential, But Required for Analytics 

    <meta property="fb:app_id" content="your_app_id" />
    <meta name="twitter:site" content="@ManjaroLinux"> -->
    
  {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
</head>
