---
class: "landing-page"
background: "/img/bg9.jpg"
title: "#bladebook"
description: "description of the page for search engine meta tags"
              
---


<div class="social-icons-top"><a href="https://www.facebook.com/ManjaroLinux" class="btn btn-icon btn-round"><i class="fa fa-facebook-square"></i></a><a href="https://twitter.com/ManjaroLinux" class="btn btn-icon btn-round"> <i class="fa fa-twitter"></i></a><a href="https://plus.google.com/118244873957924966264/posts" class="btn btn-icon btn-round"> <i class="fa fa-google-plus"></i></a></div>
<h2 class="title">Professional and user-friendly Linux at its best.</h2>
                        <h5 class="description">Manjaro is a Linux distribution based on the independently developed <a href="https://en.wikipedia.org/wiki/Arch_Linux">Arch operating system</a>. Mostly developed in Europe, Manjaro provides all the benefits of the Arch operating system, combined with a focus on user friendliness and accessibility.</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('/img/bg10.jpg')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"Manjaro Linux started as a hobby project and it’s just fun to work and develop with our great community on it!"
                                    <br>
                                    <br>
                                    <small>-Roland Singer</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container" style="background-image: url('/img/bg13.jpg')"></div>
                        </div>
                        <div class="col-md-6">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url('/img/bg0.jpg')"></div>
                            <h3>What is Linux?</h3>
                            <p>Linux is the name of the kernel powering the GNU system. GNU/Linux, also called Linux, is a free and open-source operating system, meaning that you may freely use and freely distribute it.</p>
                            <p>Originally developed in 1991 by Finnish Programmer Linus Torvalds, Linux is an exceptionally robust and reliable kernel, which combined with the GNU system is most commonly used for Internet servers, mobile phones/tablets (e.g. Android). Additionally, the use of GNU/Linux as an alternative operating system, for personal computers such as desktops or laptops, has also been growing over the years, with several million users having already discovered the benefits of it.
                            </p>
                            <h3>What are the benefits of using Linux?</h3>
                            <p>There are quite a few, GNU/Linux is free to use, highly efficient, and very fast. The 64 bit version of Manjaro with the Xfce desktop, boots up in only a few seconds, it uses only 200MB of memory to run.</p>
                            <p>Linux systems are also very secure, and are not affected by the huge amount of Windows viruses, trojans, worms, or malware out there. Anti-virus software is not required. And as for the tens of thousands of software applications available, including fully compatible equivalents of popular Windows software such as MS Office, these are also completely free.</p>
                            <p>It is also possible to easily run many popular Windows applications on GNU/Linux using compatibility software such as Wine or PlayonLinux or using Proton via Steam. The examples given here are far from comprehensive!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-team text-center">
            <div class="container">
                <h2 class="title">Here is our team</h2>
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="/img/philip.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Philip Müller</h4>
                                <p class="category">Lead Developer</p>
                                <p class="description">Philip started the project together with Roland and Guillaume back in 2011. In mid 2013, Manjaro was in the beta stage. Now he is working with the community to make one of the best Linux distributions.</p>
                                <div class="social-icons-team">
                                    <a href="#pablo" class="btn test btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                                    <a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="/img/bernhard.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Bernhard Landauer</h4>
                                <p class="category">Community Manager</p>
                                <p class="description">Having an eye on the community, Bernhard maintains most of the Community Editions of Manjaro. Connect with him in our forums to be part of it.</p>
                                <div class="social-icons-team">
                                    <a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <img src="/img/stefano.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                <h4 class="title">Stefano Capitani</h4>
                                <p class="category">Developer</p>
                                <p class="description">Stefano likes themes and supports the development of Manjaro in multiple ways. Gnome is his day-to-day desktop environment. Talk to him about Gnome, Budgie and all GTK related!</p>
                                <div class="social-icons-team">
                                    <a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
                                    <a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
                                    <a href="#pablo" class="btn btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--
        <div class="section section-contact-us text-center">
            <div class="container">
                <h2 class="title">Want to get in contact with us?</h2>
                <p class="description">Your feedback is very important to us.</p>
                <form id="contact-form" method="post" action="contact.php" role="form">

                    <div class="messages"></div>

                    <div class="controls">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Firstname *</label>
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Lastname *</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_need">Please specify your need *</label>
                                    <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                        <option value=""></option>
                                        <option value="Request support">Request support</option>
                                        <option value="Report hardware issue">Report hardware issue</option>
                                        <option value="Provide feedback">Provide feedback</option>
                                        <option value="Question about the Bladebook">Question about the Bladebook</option>
                                        <option value="Pre-Order the Bladebook">Pre-Order the Bladebook</option>
                                        <option value="Question about the Spitfire">Question about the Spitfire</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-send" value="Send message">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted">
                                    <strong>*</strong> These fields are required.</p>
                            </div>
                        </div>
                    </div>

                </form>
-->
